<% include partials/header %>
<h3>just home</h3>
  <!-- <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <form action="" method="POST">
          <div class="form-group">
            <label for="myMachine">Machine:</label>
            <select name="myMachine" id="myMachine" class="form-control">
              <option value="MGB1">MGB1</option>
              <option value="MGA3">MGA3</option>
            </select>
          </div>
        </form>
      </div>
    </div>
  </div> -->

<% include partials/footer %>
