<% include partials/header %>

  <div class="container">
    <div class="row">
      <div class="jumbotron text-center">
        <h2>Ge-zz</h2>
        <hr>
        <p>Bridging the gap between the people running the machines and the guy driving the forktruck!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ul>
          <li>Deployed on Heroku</li>
          <li>Built with Node.js/Express</li>
          <li>uses javaScript...obviously</li>
          <li>built by julian</li>
          <li>github: <a href="https://github.com/jrdevsc/gezz2">all codez here!</a></li>
        </ul>
        <a href="/form" class="btn btn-warning">APP</a>
      </div>
    </div>
  </div>


<% include partials/footer %>
